@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")


@Html.Action("AdminHeaderLinks", "Common")

@Html.Partial("Header")

<main class="static-page">
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    @Html.Widget("content_before")
    @RenderBody()
    @Html.Widget("content_after")
</main>
@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")