@{
    Layout = null;
}

<div class="sub-col-box why-book">
    <h4 class="title">@T("WhyBook.Title")</h4>
    <ul>
        <li class="icon save">
            <div class="why-book-cont-wrp">
                <h5 class="title">@T("WhyBook.BestPrice.Title")</h5>
                <p>@T("WhyBook.BestPrice.Info")</p>
            </div>
        </li>
        <li class="icon voucher24">
            <div class="why-book-cont-wrp">
                <h5 class="title">@T("WhyBook.Voucher24.Title")</h5>
                <p>@T("WhyBook.Voucher24.Info")</p>
            </div>
        </li>
        <li class="icon support">
            <div class="why-book-cont-wrp">
                <h5 class="title">@T("WhyBook.Support.Title")</h5>
                <p>@T("WhyBook.Support.Info")</p>
            </div>
        </li>
    </ul>
</div>