@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
@using (Html.BeginRouteForm("CheckoutOnePage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Confirm })

    <!--Page Title -->
    <div class="row">
        <div class="col-md-8 customer-info-step">
            <div id="checkout-step-billing" class="customer-info-wrp">
                <h2 class="title"><span class="step-count">1</span>@T("Checkout.CustomerInfo")</h2>
                <div class="row">
                    <div class="col-md-9">
                        <div id="checkout-billing-load">
                            @Html.Partial("OpcBillingAddress", Model.BillingAddress)
                        </div>
                    </div>

                    <div class="col-md-3 input-notice">
                        <strong>@T("Checkout.Note")</strong>
                        <ul>
                            <li><span class="require">(*)</span>@T("Checkout.Address.Fields.Required")</li>
                            <li>@T("Checkout.Address.Fields.Desc")</li>
                        </ul>
                    </div>
                </div>
                
                
            </div>

            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
            <div class="payment-method-wrp">
                <h2 class="title"><span class="step-count">3</span>@T("Checkout.PaymentMethod")</h2>
                @Html.Action("OpcPaymentMethods", "Checkout")
                <div class="payment-method-total-price">
                    <h4>@T("Checkout.Total")</h4>
                    <span class="total-price-display">
                        @Model.OrderTotals.OrderTotal
                    </span>
                </div>
                @Html.Partial("_DiscountBox", Model)
            </div>
            <div class="newsletter-agree">
                <label>
                    <input type="checkbox" name="newsletter_subcribed" checked="checked">
                    <div class="newsletter-agree-cont">
                        @T("Checkout.Newsletter.Description")
                    </div>
                </label>
            </div>
            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
            </div>

            <div class="alert alert-danger tou" role="alert">
                <label>
                    <input type="checkbox" id="termsofservice" name="term_of_use"> &nbsp
                    <span>@T("Checkout.TermsOfService.IAccept")<a class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                </label>
            </div>

            <script type="text/javascript">
                               $(document).ready(function () {
                                   $('#checkout').click(function () {
                                       //terms of service
                                       var termOfServiceOk = true;
                                       if ($('#termsofservice').length > 0) {
                                           //terms of service element exists
                                           if (!$('#termsofservice').is(':checked')) {
                                               $("#terms-of-service-warning-box").dialog();
                                               termOfServiceOk = false;
                                           } else {
                                               termOfServiceOk = true;
                                           }
                                       }
                                       return termOfServiceOk;
                                   });
                               });
            </script>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" value="checkoutonepay" name="checkoutonepay" id="checkout" class="btn btn-warning"><strong>@T("Checkout.Finish")</strong><i class="icon  icon-right-big"></i></button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            @Html.Partial("_WhyBook")
        </div>  
    </div>
</div>
}
