@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="static-page-cont-wrp">
        <h2>@T("Account.MyAccount") - @T("Account.ChangePassword")</h2>

        <div class="row">
            <div class="col-md-6">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPassword)
                    @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", placeholder = T("Account.Fields.OldPassword.Hint").Text })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword)
                    <p>
                        @T("Account.Fields.NewPassword.Info")
                    </p>
                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", placeholder = T("Account.Fields.NewPassword.Hint").Text })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword)
                    @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = T("Account.Fields.ConfirmNewPassword.Hint").Text })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>

                <input type="submit" value="@T("Common.Save")" name="save-info-button" class="btn btn-warning" />
            </div>
            
        </div>
    </div>
                }