@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="activities-category-wrp row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 image-box">
                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="image-box-link">
                    <div class="image-box-wrp">
                        <img class="image-box-photo" src="@item.PictureModel.FullSizeImageUrl" alt="@item.PictureModel.AlternateText" title="@item.PictureModel.Title">
                        <div class="image-box-caption">
                            <div class="image-box-label">
                                <div class="image-box-label-title">@item.Name</div>
                            </div>
                            <div class="image-box-counter">
                                <div class="image-box-counter-title"> @string.Format(T("HomePage.Categories.Count").Text, item.NumberOfProducts)</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
