@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core.Domain.Divui.Catalog;
@{
   var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
 
    <div class="review-cart-wrp">
    @if (Model.OptionItems.Count > 0)
    {
        if (Model.OrderReviewData.Display)
        {
            <h2 class="title"><span class="step-count">2</span>@T("Checkout.Cart")</h2>
                    }
        int i = 0;
        foreach (var option in Model.OptionItems)
        {
            <div class="cart-item">
                <header class="header">
                    <div class="title">
                        <h3 class="title-content"><a href="#">@option.ProductOptionName</a></h3>
                    </div>
                    <div class="price">
                        <span class="price-display">@option.strTotal</span>
                    </div>
                </header>
                @{
                    var psa = option.Items.FirstOrDefault(c => c.AgeRangeTypeId == (int)DvAgeRangeType.Adult);
                    if(psa == null)
                    {
                        continue;
                    }
        }
                <div class="cart-item-content">
                    <div class="img-wrp">
                        <a href="@Url.RouteUrl("Product", new { SeName = psa.ProductSeName })">
                            <img src="@psa.Picture.ImageUrl">
                        </a>
                    </div>
                    <div class="details">
                        <ul class="details-list">
                           


                            <li class="details-list-row"><strong>@T("ShoppingCart.SelectedDate")</strong> @Html.Raw(psa.AttributeInfo)</li>
                            <li class="details-list-row">
                                <strong>@T("ShoppingCart.CustomerNumber")</strong>

                                @T("ShoppingCart.CustomerNumber.AgeRange.Adult", psa.Quantity)

                                @{
            var psc = option.Items.FirstOrDefault(c => c.AgeRangeTypeId == (int)DvAgeRangeType.Child);
            if (psc != null)
            {
                <text>
                    , @T("ShoppingCart.CustomerNumber.AgeRange.Child", psc.Quantity, psc.AgeRangeCondition)
                </text>

            }
                                }

                                @{
            var psk = option.Items.FirstOrDefault(c => c.AgeRangeTypeId == (int)DvAgeRangeType.Kid);
            if (psk != null)
            {
                <text>
                    , @T("ShoppingCart.CustomerNumber.AgeRange.Kid", psk.Quantity, psk.AgeRangeCondition)
                </text>

            }
                                }

                                @{
            var pss = option.Items.FirstOrDefault(c => c.AgeRangeTypeId == (int)DvAgeRangeType.Senior);
            if (pss != null)
            {
                <text>
                    , @T("ShoppingCart.CustomerNumber.AgeRange.Senior", pss.Quantity, pss.AgeRangeCondition)
                </text>

            }


                                }

                            </li>
                        </ul>
                        @if (Model.OrderReviewData.Display)
    {
        if (psa.ProductAttribute != null)
        {
                                <div class="pickup-info">
                                    <div class="well">
                                        <h5>@psa.ProductAttribute.Name</h5>
                                        @*@Html.Raw(@psa.ProductAttribute.Description)*@
                                        @Html.Hidden(string.Format("Pickups[{0}].ProductAttributeId", i), psa.ProductAttribute.ProductAttributeId)
                                        @Html.Hidden(string.Format("Pickups[{0}].ProductId", i), psa.ProductAttribute.ProductId)
                                        @Html.Hidden(string.Format("Pickups[{0}].ProductOptionId", i), option.ProductOptionId)
                                        @Html.Hidden(string.Format("Pickups[{0}].AttributeControlTypeId", i), (int)psa.ProductAttribute.AttributeControlType)
                                        <div class="form-group">
                                            <input type="text" name="Pickups[@i].Value" class="form-control" placeholder="Nhập Tên và Địa chỉ khách sạn">
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        }
                        
                    </div>
                    <div class="cart-control">
                        <input type="checkbox" name="removefromcart" value="@psa.Id" style="display:none;">
                        @if (psc != null)
    {
                            <input type="checkbox" name="removefromcart" value="@psc.Id" style="display:none;">
                        }
                        @if (psk != null)
    {
                            <input type="checkbox" name="removefromcart" value="@psk.Id" style="display:none;">
                        }

                        @if (pss != null)
    {
                            <input type="checkbox" name="removefromcart" value="@pss.Id" style="display:none;">
                        }
                        @if (!Model.OrderReviewData.Display)
    {
                            <a class="remove-product" href="#" target="_self"><i class="icon icon-cancel"></i>@T("ShoppingCart.Remove")</a>
                        }
                        
                    </div>
                </div>
            </div>

            i++;
        }
        if (!Model.OrderReviewData.Display)
        {
            <div class="cart-total">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="shop-more">
                            <a href="#" class="continueshopping">@T("ShoppingCart.OtherProducts")<i class="icon icon-right-big"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="price-tag">
                            <span class="price-tag-label">@T("ShoppingCart.Total")</span>
                            <span class="price-total-display">@Model.OrderTotals.OrderTotal</span>
                        </div>
                        <div class="guarantee"><i class="icon icon-ok-6"></i>@T("ShoppingCart.BestPrice")</div>
                    </div>
                </div>
            </div>
        }

        if (!Model.OrderReviewData.Display)
        {
            <script type="text/javascript">
                $(document).ready(function () {

                    $(".remove-product").click(function (e) {
            e.preventDefault();

            var control = $(this).closest("div.cart-control");
            var selects = $(this).closest("div.cart-control").find("input:checkbox");

            selects.each(function () {
                            $(this).prop("checked", true);
            });

                        $("#updatecart").click();


        });
    });
            </script>
        }
        


    }
</div>

    
