@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwoAcc.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}
<div class="static-page-cont-wrp">
    <h2 class="page-title">@T("Account.CustomerOrders")</h2>
    
    <div class="page-body">
       
        @if (Model.Orders.Count > 0)
        {
            foreach (var order in Model.Orders)
                {
                <div class="cfm-voucher-info">
                    <div class="order-header">
                        <h3 class="order-numb">@T("Account.CustomerOrders.OrderNumber") &nbsp; @order.Id</h3>
                        <span class="order-date">@T("Account.CustomerOrders.CreatedDate"): @order.CreatedOn.ToString("dd/MM/YYY")</span>
                    </div>
                    @foreach (var item in order.OptionItems)
                    {
                        <div class="cart-item">
                            <header class="header">
                                <div class="title">
                                    <h3 class="title-content"><a href="@Url.RouteUrl("Product", new { SeName = item.SeName })"> @item.ProductOptionName</a></h3>
                                </div>
                                <div class="price">
                                    <span class="price-display">@item.strTotal</span>
                                </div>
                            </header>
                            <div class="cart-item-content">
                                <div class="img-wrp">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.SeName})">
                                        <img src="@item.Picture.FullSizeImageUrl">
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="details-list">
                                        @if (item.SelectedDateAttribute != null)
                                        {
                                            <li class="details-list-row"><strong>@T("Checkout.Order.SelectedDate")</strong> &nbsp;@item.SelectedDateAttribute.Value</li>
                                        }

                                        <li class="details-list-row">
                                            <strong>@T("Checkout.Order.CustomerNumber")</strong>
                                            &nbsp;
                                            @T("ShoppingCart.CustomerNumber.AgeRange.Adult", item.AdultNumber)
                                            @if (item.ChildNumber > 0)
                                            {
                                                <text>
                                                    , @T("ShoppingCart.CustomerNumber.AgeRange.Child", item.ChildNumber)
                                                </text>
                                            }

                                            @if (item.KidNumber > 0)
                                            {
                                                <text>
                                                    , @T("ShoppingCart.CustomerNumber.AgeRange.Kid", item.KidNumber)
                                                </text>
                                            }

                                            @if (item.SeniorNumber > 0)
                                            {
                                                <text>
                                                    , @T("ShoppingCart.CustomerNumber.AgeRange.Senior", item.SeniorNumber)
                                                </text>
                                            }

                                        </li>
                                        @if (item.PickupAttribute != null)
                                        {
                                            <li class="details-list-row"><strong>@T("Checkout.Order.Pickup")</strong>&nbsp;@item.PickupAttribute.Value</li>
                                        }

                                        <li class="details-list-row"><strong>@T("Checkout.Order.Status")</strong>&nbsp;@order.OrderStatus</li>
                                    </ul>
                                    <div class="cfm-voucher-action">
                                        <a class="btn btn-primary btn-sm cfm-voucher-btn">@T("Checkout.Order.Print.Voucher")</a>
                                        <a class="btn btn-default btn-sm cfm-guide-btn">@T("Checkout.Order.Print.Guide")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="cart-total">
                        <div class="row">
                            <div class="col-xs-6">
                            </div>
                            <div class="col-xs-6">
                                <div class="price-tag">
                                    <span class="price-tag-label">@T("Order.Total")</span>
                                    <span class="price-total-display">@order.OrderTotal</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info" role="alert">
                @T("Account.CustomerOrders.NoOrders")
            </div>
        }
    </div>
</div>
