@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<footer class="page-footer">
    <div class="container">
        <div class="row footer-content-pri">
            <div class="col-md-4">
                <h2>@T("Homepage.SiteName")</h2>
                <p>
                    @T("Homepage.SiteInfo")
                </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="box-link-title">
                            @T("Homepage.About")
                        </h4>
                        <ul class="box-link-list">
                            <li><a href="/about-us">@T("Homepage.About")</a></li>
                            <li><a href="#">@T("Homepage.Career")</a></li>
                            <li><a href="#">@T("Homepage.Blog")</a></li>
                            <li><a href="/privacy-notice">@T("Homepage.Privacy")</a></li>
                            <li><a href="/conditions-of-use">@T("Homepage.Term")</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="box-link-title">
                            @T("Homepage.Cooperation")
                        </h4>
                        <ul class="box-link-list">
                            <li><a href="#">@T("Homepage.Cooperation.Partner")</a></li>
                            <li><a href="#">@T("Homepage.Cooperation.Affiliate")</a></li>
                            <li><a href="#">@T("Homepage.Cooperation.LoginPartner")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="box-link-title">
                    @T("Homepage.Contact")
                </h4>
                <ul class="box-link-list">
                    <li>@T("Homepage.Contact.Hotline")</li>
                    <li>@T("Homepage.Contact.Email")</li>
                    <li>@T("Homepage.Contact.Address")</li>
                    <li>@T("Homepage.Contact.Working")</li>
                </ul>
            </div>
        </div>
        <div class="row footer-content-sec"></div>
    </div>
</footer>